#buttonClose {
	-fx-font-family: "arial";
	-fx-background-color: #10a5f5;
	-fx-font-weight: bold;
	-fx-text-fill: rgb(255, 255, 255);
}

#labelClose {
	-fx-font-family: "arial";
	-fx-font-size: 18;
	-fx-font-weight: bold;
}

#labelMenu {
	-fx-font-family: "Comic Sans MS";
	-fx-font-weight: bold;
	-fx-font-size: 15;
	-fx-line-spacing: 0;
	-fx-text-fill: rgb(255, 255, 255);
}

#orderButton {
	-fx-font-family: "Trebuchet MS";
	-fx-background-color: #33c5e2;
	-fx-font-size: 22;
	-fx-font-weight: bold;
	-fx-background-radius: 15;
	-fx-text-fill: rgb(243, 243, 243);
}

#yourMoney {
	-fx-font-family: "arial";
	-fx-font-size: 15;
	-fx-text-fill: rgb(255, 255, 255);
	-fx-font-weight: bold;
}
